{
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "importOrder": ["^[./]", "^@/(.*)$"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": false,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": false
}
