@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-display: "Satoshi", "sans-serif";
    --font-sans: "Inter", "sans-serif";
    --color-black: var(--color-neutral-800);
}

@layer base {
    * {
        border-color: var(--color-neutral-300);
    }
}

button {
    cursor: pointer;
}

input:focus {
    outline: 0;
}

h1 {
    font-family: var(--font-display);
    font-size: var(--text-8xl); /* 6rem (96px) */ 
    line-height: var(--text-8xl--line-height); /* 1 */
    font-weight: 700;
}

h1.docs {
    font-family: var(--font-display);
    font-size: var(--text-3xl); /* 1.875rem (30px) */ 
    line-height: var(--text-3xl--line-height); /* calc(2.25 / 1.875) */
    font-weight: 700;
}

h2 {
    font-family: var(--font-display);
    font-size: var(--text-4xl); /* 2.25rem (36px) */
    line-height: var(--text-4xl--line-height); /* calc(2.5 / 2.25) */
    font-weight: 700;
}

h2.docs {
    font-family: var(--font-display);
    font-size: var(--text-2xl); /* 1.5rem (24px) */ 
    line-height: var(--text-2xl--line-height); /* calc(2 / 1.5) */
    font-weight: 700;
}

h3 {
    font-family: var(--font-display);
    font-size: var(--text-3xl); /* 6rem (96px) */ 
    line-height: var(--text-3xl--line-height); /* 1 */
    font-weight: 700;
}

h3.docs {
    font-family: var(--font-display);
    font-size: var(--text-xl); /* 1.25rem (20px) */ 
    line-height: var(--text-xl--line-height); /* calc(1.75 / 1.25) */
    font-weight: 700;
}

body {
    font-family: var(--font-sans);
    font-size: var(--text-sm);
    line-height: var(--text-lg--line-height);
    color: var(--color-black);
}